.signup-nav{
    margin-top: 2%;
}
.body{
    background-color: #3ebf0f;
    padding: 1em;
    height: 95vh;
}
form{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 26vw;
    margin: 3% 0 0 37%;
    padding: 1em;
    border-radius: 10px;
}
label{
    text-align: left;
    margin-bottom: 2%;
    margin-top: 3%;
}
input{
    height: 5vh;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    background: none;
}
form select{
    width: 100%;
}
span{
    color: blue;
}
form .create{
    width: 100%;
}